name: CI/CD Pipeline POROS

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # --- STAGE TEST (WAJIB ADA) ---
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23' # Sesuaikan dengan versi Go di MacBook lo

      - name: Run Unit Tests
        run: go test ./... -v
      # ------------------------------

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/resign-api-backend:latest

      - name: Build and Push Frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/resign-api-frontend:latest

  deploy-locally:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - name: Pull and Restart K8s
        run: |
          kubectl rollout restart deployment resign-api-deployment
          kubectl rollout restart deployment resign-api-frontend